.about {
  width: 100%;
  min-height: 100vh;
  background: #000;
  color: #fff;
  display: flex;
  align-items: center;
}

/* CONTAINER */
.about-container {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  flex-wrap: wrap;
}

/* IMAGE */
.about-image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.img-box-about {
  position: relative;
  padding: 10px;
  border-radius: 30px;
}

.img-box-about::before {
  content: "";
  position: absolute;
  inset: -10px;
  background: linear-gradient(45deg, orange, red, orange);
  filter: blur(25px);
  border-radius: 40px;
  z-index: 0;
}

.img-box-about img {
  width: 390px;
  height: 390px;
  object-fit: cover;
  border-radius: 30px;
  position: relative;
  z-index: 1;
  box-shadow: 0 0 25px orange;
  transition: 0.4s;
}

.img-box-about img:hover {
  transform: scale(1.05);
}

/* CONTENT */
.about-content {
  flex: 1;
}

/* TITLE */
.about-title {
  font-size: 70px;
  margin-bottom: 10px;
}

.about-title span {
  color: orange;
}

.about-role {
  color: orange;
  margin-bottom: 20px;
  font-size: 20px;
}

/* TEXT */
.about-text {
  color: #bbb;
  line-height: 1.7;
  margin-bottom: 15px;
  font-size: 16px;
}

/* BUTTON */
.explore-btn {
  margin-top: 20px;
  padding: 12px 28px;
  border-radius: 30px;
  border: none;
  background: linear-gradient(45deg, orange, red);
  color: #fff;
  font-weight: bolder;
  font-size: 18px;
  cursor: pointer;
  transition: 0.4s;
  margin: 3px 6px;
 
}
.explore-div{
 text-align: center;
}

.explore-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px orange;
}

/* SOCIAL */
.about-socials {
  margin-top: 20px;
  display: flex;
  gap: 15px;
  justify-content: center;
}

.about-socials a {
  font-size: 40px;
  color: orange;
  transition: 0.3s;
}

.about-socials a:hover {
  color: #fff;
  transform: translateY(-5px);
}

/* MOBILE */
@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
    text-align: center;
  }

  .img-box-about img {
    width: 290px;
    height: 290px;
    margin-top: 40px;
  }
  .about-socials a {
    font-size: 40px;
  }
    .about-socials{
    justify-content: center;
  }
  .about-title{
    font-size: 50px;
  }
}
.about-text span {
  color: orange;
  font-weight: 600;
  text-shadow: 0 0 10px orange;
  transition: 0.3s;
}

.about-text span:hover {
  color: #fff;
  text-shadow: 0 0 20px orange, 0 0 40px red;
}

.about-text span {
  position: relative;
}

.about-text span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background: orange;
  transition: 0.4s;
}

.about-text span:hover::after {
  width: 100%;
}