.navbar-container {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 40px;
  margin: 10px;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(12px);
  box-shadow: 0 8px 30px rgba(0,0,0,0.3);
  border: 1px solid rgba(255,255,255,0.1);
}

.logo {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 8px;
  color: white;
  padding: 10px 18px;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
  transform-style: preserve-3d;
}

.icon {
  font-size: 18px;
  transition: 0.4s;
}

.text {
  transition: 0.4s;
}

.nav-item:hover {
  background: rgba(255,255,255,0.1);
  transform: rotateX(15deg) rotateY(-15deg) scale(1.15);
  box-shadow: 0 15px 30px rgba(0,0,0,0.5);
}

.nav-item:hover .icon {
  transform: translateY(-5px) scale(1.2);
  color: #22d3ee;
}

.nav-item:hover .text {
  transform: translateY(2px);
}

.nav-item.active {
  background: linear-gradient(45deg, #a855f7, #ec4899);
  box-shadow: 0 5px 20px rgba(236,72,153,0.6);
}

.nav-btn {
  padding: 10px 20px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  background: linear-gradient(45deg, #22d3ee, #3b82f6);
  transition: 0.3s;
}

.nav-btn:hover {
  transform: scale(1.1);
  box-shadow: 0 5px 20px rgba(59,130,246,0.6);
}

/* Click effect */
.nav-item:active {
  transform: scale(0.9);
   box-shadow: 0 0 10px #22d3ee;
}

/* ===== Mobile ===== */
@media (max-width: 768px) {
  .navbar {
    position: fixed;
    bottom: 10px;
    top: auto;
    left: 10px;
    right: 10px;
    border-radius: 25px;
    padding: 10px;
    justify-content: center;
  }

  .logo {
    display: none;
  }

  .nav-links {
    width: 100%;
    justify-content: space-around;
  }

  .nav-item {
    flex-direction: column;
    padding: 8px;
  }

  .text {
    display: none; /* only icons */
  }

  .icon {
    font-size: 22px;
  }

  .nav-item:hover {
    transform: translateY(-8px) scale(1.2);
    box-shadow: 0 10px 25px rgba(0,0,0,0.6);
  }

  .nav-item.active {
    transform: translateY(-5px) scale(1.15);
  }

  .nav-btn {
    display: none;
  }
  .logo-img{
    display: none;
  }
  .logo-box{
    display: none;
  }
    .nav-item:hover {
    transform: none;   /* ❌ 3D movement hatao */
    box-shadow: none;
  }

  .nav-item.active {
    transform: none;
  }
}
a{
  text-decoration: none;
}
.logo-img { height: 45px; /* adjust as needed */ width: auto; object-fit: contain; display: block; }